qtcreator-build
assetimporters/kdeartwork-wallpapers/wallpapersSvn/
server/content/*/*
server/incoming/*
server/incoming/*/*
server/public
server/config.json
server/node_modules
server/incoming/[0-9]*
server/bodega*log
sql/updates/completed
