html
  head
    block title
    link(rel="stylesheet", href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css")
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js')
  body
    block body
