html
  head
    title #{storeName} Password Reset Confirmation

  body
    .page-header
      h1 #{title}
    if success === true
      .alert.alert-success.success
        | #{message}
    else
      .alert.alert-error.error
        | #{message}

