{
    "host": "localhost",
    "port": 3000,
    "prefix": "/bodega/v1/json/",
    "externalBaseUrl": "https://example.org:3000",
    "pointConversionRate": 100,
    "cookieSecret": "love cookies",
    "behindProxy": false,
    "warehouseInfo": {
        "name": "My Warehouse",
        "description": "Warehouse description",
        "url": "https://example.org",
        "contact": "foo@example.gr"
    },
    "anonAccess": {
        "browsing": false
    },
    "service": {
        "database": {
            "protocol": "pg",
            "user":     "bodega",
            "password": "bodega",
            "host":     "localhost",
            "name":     "bodega",
            "adminuser": "postgres"
        },
        "redis": {
            "host": "localhost",
            "prefix": "bodega-server-sess:"
        },
        "smtp": {
            "host": "mail.example.org",
            "port": "465",
            "secureConnection": true,
            "auth": {
                "user": "user@example.org",
                "pass": "sample"
            }
        },
        "discourse": {
            "host": "localhost",
            "database": "discourse_development",
            "username": "bodega",
            "password": "bodega",
            "externalUrl": ""
        },
        "userReplication": [
            {
                "host": "localhost",
                "database": "discourse_mpl",
                "username": "bodega",
                "password": "bodega"
            }
        ],
        "email": "Name <returnaddress@example.org>"
    },
    "addresses": {
        "partnerRequests": "partnerrequests@example.org",
        "assetRequests": "assetrequests@example.org"
    },
    "storage": {
        "localStorage": {
            "basePath": "/content/",
            "incomingBasePath": "/incoming/"
        }
    },
    "appkeys": {
        "openexchangerates": "",
        "stripe": {
            "testSecretKey": "",
            "liveSecretKey": ""
        }
    }
}
