{
    "host": "localhost",
    "port": 3000,
    "pointConversionRate": 100,
    "cookieSecret": "love cookies",
    "prefix": "/bodega/v1/json/",
    "storeInfo": {
        "name": "Make Play Live",
        "description": "foo",
        "url": "http://makeplaylive.com",
        "contact": "foo@example.gr"
    },
    "anonAccess": {
        "browsing": false
    },
    "service": {
        "database": {
            "protocol": "pg",
            "user":     "bodega",
            "password": "bodega",
            "host":     "localhost",
            "name":     "bodega",
            "adminuser": "postgres"
        },
        "redis": {
            "host": "localhost"
        },
        "smtp": {
            "host": "mail.example.org",
            "port": "465",
            "secureConnection": true,
            "auth": {
                "user": "user@example.org",
                "pass": "sample"
            }
        },
        "email": "Name <returnaddress@example.org>"
    },
    "addresses": {
        "partnerRequests": "partnerrequests@example.org"
    },
    "storage": {
        "system": "localStorage",
        "s3": {
            "key": "",
            "secret": "",
            "bucket": ""
        },
        "localStorage": {
            "basePath": "/content/",
            "incomingBasePath": "/incoming/"
        }
    },
    "payment": {
        "stripe": {
            "testSecretKey": "",
            "liveSecretKey": ""
        }
    }
}
